.social-networks {
  margin: 0 0 .5rem 0;
}

.social-networks .icon {
  height: 25px;
  margin-right: 12px;
}

.social-networks .linkedin-icon {
  height: 19px;
  margin-right: 15px;
  margin-left: 3px;
}