.SignIn {
  margin-top: 16px;
}

.SignIn .btn-pink {
    color: #fff;
    background-color: #EFB5BF;
    border-color: #EFB5BF;
}

.SignIn .pointerHover {
  cursor: pointer;
}

.SignIn a {
  color: white;
}

.SignIn a:hover {
  color: white;
  text-decoration: underline;
}
