.tooltip-error > .tooltip-inner {
  background-color: red;
  color: #fff;
  border: 1px solid red;
}

.tooltip-error .message {
  margin: 0;
  text-align: left;
}

.tooltip-error li {
  margin: 0;
  text-align: left;
}

.tooltip-error ul {
  margin: 0;
  text-align: left;
}

.up > .tooltip-inner {
  margin-bottom: 16px;
}

.up > .arrow {
  margin-bottom: 16px;
}

.bs-tooltip-left .arrow::before {
  border-left-color: red;
}