.ResetPassword .nav-item {
  margin: auto 0;
}

.ResetPassword p {
  margin-bottom: .5em;
}

.ResetPassword small {
  font-size: 90%;
}

.ResetPassword .Icon {
  width: 200px;
  margin: 0px auto 8px;
  display: block;
}
