.ResetPassword .nav-item {
  margin: auto 0;
}

.ResetPassword h2, h3 {
  width: 100%;
}

.ResetPassword small {
  font-size: 90%;
}

.ResetPassword .Icon {
  height: 200px;
  width: 200px;
  margin: 0px auto 8px;
  display: block;
}
