.ResetPassword .help {
  color: #fff;
}

.ResetPassword .nav-item {
  margin: auto 0;
}

.ResetPassword h2 {
  width: 100%;
}

.ResetPassword .Icon {
  height: 200px;
  width: 200px;
  margin: 0px auto 8px;
  display: block;
}
