.NavBar .Brand { 
  text-decoration: none; 
  color: black;
}

.NavBar .bg-black {
  background-color: black;
}

.NavBar .navbar-default .navbar-brand {
  color: #4CAE51;
}

.NavBar h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 500;
  color: black;
  text-shadow:
    1px  1px 3px pink,
    1px -1px 3px pink,
   -1px  1px 3px pink,
   -1px -1px 3px pink;
}
