.recipe-view .recipe-header {
  overflow: auto;
  margin-bottom: 1em;
}

.recipe-view .recipe-presentation {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 1em;
}

.recipe-view .recipe-body {
  margin-bottom: 1em;
}

.recipe-view .recipe-body p {
  margin-bottom: 0.5em;
}

.recipe-view .recipe-footer {
  margin-bottom: 1em;
}
