a, a:hover {
  color: black;
}

footer {
  background-color: #252525;
  color: gainsboro;
}

  footer a, footer a:hover {
    color: gainsboro;
  }

h3 {
  color: #D29FA8;
}

ol>li {
  color: #D29FA8;
}

  ol>li>span {
    color: black;
  }

.btn-group .icon {
  color: white;
}

.btn-link, .btn-link:hover {
  color: black;
}

.btn-primary {
  background-color: #e49aa7;
  border-color: #e49aa7;
  color: #fff;
}

  .btn-primary:hover {
    background-color: #df8695;
    border-color: #da7283;
  }

.card.add>.card-img {
  background-color: white;
}

  .card.add:hover>.card-img {
    background-color: #e2e6ea;
  }

.card.add .icon {
  color: black;
}

.card-img {
  background-color: white;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.dropzone>.input-container {
  border-color: black;
}

.dropzone.highlight>.input-container {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.dropzone.with-image:hover>img {
  opacity: .5;
}

.dropzone.with-image:not(:hover)>.input-container {
  opacity: .5;
}

.icon.about {
  border-color: gainsboro;
}

.input-group.gender>:first-child>button.is-invalid,
.was-validated .input-group.gender>:first-child>button:invalid {
  border-top-color: #dc3545;
  border-left-color: #dc3545;
  border-bottom-color: #dc3545;
}

.input-group.gender>:not(:first-child):not(:last-child)>button.is-invalid,
.was-validated .input-group.gender>:not(:first-child):not(:last-child)>button:invalid {
  border-top-color: #dc3545;
  border-bottom-color: #dc3545;
}

.line-separator {
  background:#717171;  
  border-bottom:1px solid #313030;
}

.list-group .icon {
  color: #4CAE51;
}

.list-group-item {
  background-color: transparent;
  border: none;
}
  
.panel-with-image a, .panel-with-image a:hover, .panel-with-image .btn-link, .panel-with-image .btn-link:hover {
  color: white;
}

.panel-with-image>.panel-content {
  background-color: rgba(0, 0, 0, .5);
  color: white;
}

.panel-with-image>.panel-content.deep {
  background-color: rgba(0, 0, 0, .75);
}

.tooltip-error>.tooltip-inner {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.tooltip-error.bs-tooltip-left .arrow::before {
  border-left-color: #dc3545;
}