


















.image-panel {
  background: url('./images/LeBliblou.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  overflow: auto;
}

.image-panel>div:first-child {
  color: gainsboro;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 75px auto;
  padding: 20px 0px;
}

.image-panel form {
  margin-top: .4em;
}

.panel {
  padding: 24px 0;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

.form-text {
  text-align: left;
}

#password.is-invalid,
.was-validated #password:invalid {
  margin-right: 1px;
}

#gender-input>:first-child>button.is-invalid,
.was-validated #gender-input>:first-child>button:invalid {
  border-top-color: #dc3545;
  border-left-color: #dc3545;
  border-bottom-color: #dc3545;
}

#gender-input>:not(:first-child):not(:last-child)>button.is-invalid,
.was-validated #gender-input>:not(:first-child):not(:last-child)>button:invalid {
  border-top-color: #dc3545;
  border-bottom-color: #dc3545;
}

.tooltip-error > .tooltip-inner {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #dc3545;
}

.bs-tooltip-left .arrow::before {
  border-left-color: #dc3545;
}

.tooltip-error p, .tooltip-error li, .tooltip-error ul {
  margin: 0;
  text-align: left;
}

.tooltip-error.up>.tooltip-inner, .tooltip-error.up>.arrow{
  margin-bottom: 16px;
}

.line-separator {
  height:1px;
  background:#717171;  
  border-bottom:1px solid #313030;
  margin-bottom: 8px;
}

.contact-us, .lost-password, .not-found {
  text-align: center;
}

.lost-password img, .not-found img {
  height: 225px;
  margin: 0 auto 8px;
  display: block;
}

.recipe-editor {
  margin: 16px 0;
}

.recipes-list:first-child {
  margin-top: 16px;
}

.recipes-list {
  margin-left: 16px;
}

.recipes-list>h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.recipes-list .card {
  cursor: pointer;
}

.recipe-header {
  overflow: auto;
  margin-left: 16px;
  margin-bottom: 16px;
}

.recipe-header>.picture-container {
  margin-left: 16px;
  width: 50%;
  float: right;
}

.recipe-header>.picture-container>div {
  padding-bottom: 56.25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

.recipe-header>h1 {
  margin-top: 16px;
}

.recipe-header table {
  width: 25%;
  margin-bottom: 1em;
}

.recipe-header>.btn-group .icon {
  color: white;
  size: 1.25rem;
  margin-bottom: 0.2rem;
  margin-right: 12px;
}

.recipe-body {
  text-align: left;
}

.recipe-body {
  margin-bottom: 1em;
}

.recipe-body p {
  margin-bottom: 0.5em;
}

.recipe-footer {
  margin-bottom: 1em;
}

.step-index {
  color: #D29FA8;
  font-weight: 700;
}

.form-buttons {
  float: right;
}

.about>img {
  float: left;
  width: 100px; 
  margin: 16px;
  border: 2px solid gainsboro;
}

.row>.card-group {
  flex-flow: row;
  overflow:scroll;
  margin-bottom: 1rem ;
}

.card {
  width: 18rem;
  min-width: 18rem;
}

.card, .card .h5, .card p {
  font-size: .95rem;
  text-align: left;
}

.card p {
  margin-bottom: .5rem;
}

.card-body {
  padding: 5px;
}

.card-title {
  margin: 0;
}

.card-img {
  object-fit: cover;
  height: 8.5rem;
  background-color: white;
}

.card-img.default-image {
  object-fit: contain;
}

.card-img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card:first-child:not(:last-child)>.card-img {
  border-top-right-radius: 0;
}

.card:not(:first-child):not(:last-child)>.card-img {
  border-radius: 0;
}

.card:not(:first-child):last-child>.card-img {
  border-top-left-radius: 0;
}

.card-img-overlay {
  padding: 5px 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.card-img-overlay table {
  width: 100%;
}

.card-img-overlay .icon, .recipe-header .icon {
  color: #4CAE51;
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0.2rem;
}

.add.card {
  width: 8.5rem;
  min-width: 8.5rem;
}

.add.card>.card-img {
  background-color: white;
  position: relative;
}

.add.card:hover>.card-img {
  background-color: #e2e6ea;
}

.add.card .icon {
  color: black;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 3.25rem;
  left: 3.25rem;
}

.dropzone {
  margin-bottom: 16px;
}

.dropzone-input {
  min-height: 200px;
  border: 2px dashed black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropzone-input:not(.disabled) {
  cursor: pointer;
}

.dropzone-input>img {
  height: 64px;
}

.dropzone-input>.file-input {
  display: none;
}

.dropzone-input.highlight {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 2px dashed rgba(81, 203, 238, 1);
}

.dropzone>img {
  width: 100%;
}

.dropzone:hover>img {
  opacity: 0.5;
}

.dropzone:not(:hover)>.dropzone-input.with-image {
  border: 2px dashed rgba(255, 255, 255, 0.5);
}

.dropzone:not(:hover)>.dropzone-input.with-image {
  opacity: 0.5;
}
