body {
  margin: 0;
  padding: 0;
  position: relative;
}

footer {
  bottom: 0;
  padding: 16px 0 22px;
  position: absolute;
  width: 100%;
}
  
  footer .nav-links {
    float: left;
  }

  footer .social-network-links {
    float: right;
  }

    footer .social-network-links .list-group-item {
      padding: 0 0 0 1em;
    }

main {
  min-height: 100vh;
  padding-top: 70px;
}

#about-us .picture {
  float: left;
  margin: 16px;
  border: 2px solid;
}

#lost-password .icon, #not-found .icon {
  margin: 0 auto 8px;
}

#not-found .nav-links {
  margin: 0;
}

  #not-found .nav-links .list-group-item {
    padding: 0 .5em;
  }

#password.is-invalid, .was-validated #password:invalid {
  margin-right: 1px;
}

#recipe .panel p {
  margin-bottom: 0.5em;
}

#recipe .panel-with-image>.panel-content {
  margin: 0;
  padding: 56px 0;
}

  #recipe .panel-with-image>.panel-content .col-lg-6 {
    margin: 8px 0;
  }

#recipe .recipe-picture {
  padding-bottom: 56.25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

#recipes {
  padding-left: 4vw;
}

  #recipes h2 {
    margin-bottom: .25em;
  }

  #recipes .card {
    cursor: pointer;
  }

  #recipes>:last-child .card {
    margin-bottom: 0;
  }

.card {
  width: 18rem;
  min-width: 18rem;
}

  .card p {
    margin-bottom: .5rem;
  }

.card.add {
  width: 8.5rem;
  min-width: 8.5rem;
}

  .card.add>.card-img {
    position: relative;
  }

  .card.add .icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 3.25rem;
    left: 3.25rem;
  }

.card-body {
  padding: 5px;
}

.card-group>.card {
  margin-bottom: .5rem;
}

.card-img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 8.5rem;
  object-fit: cover;
}

  .card:first-child:not(:last-child)>.card-img {
    border-top-right-radius: 0;
  }

  .card:not(:first-child):not(:last-child)>.card-img {
    border-radius: 0;
  }

  .card:not(:first-child):last-child>.card-img {
    border-top-left-radius: 0;
  }

.card-img.default-image {
  object-fit: contain;
}

.card-img-overlay {
  padding: 5px 16px;
}

.card-title {
  margin: 0;
}

.dropzone {
  cursor: pointer;
  margin-bottom: 16px;
}

  .dropzone>img {
    width: 100%;
  }

  .dropzone>.input-container {
    align-items: center;
    border: 2px dashed;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    position: relative;
  }

    .dropzone>.input-container>input {
      display: none;
    }

.form-buttons {
  float: right;
}

.icon.small {
  height: 25px;
}

.icon.small.linkedin {
  height: 19px;
}

.icon.medium {
  width: 100px; 
}

.icon.large {
  height: 225px;
}

.line-separator {
  height:1px;
  margin-bottom: 8px;
}

.list-group {
  margin-bottom: 1em;
}

  .list-group .icon, .btn-group .icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: 0.2rem;
  }

.list-group-item {
  padding: 0 1em 0 0;
}

.navbar {
  height: 70px;
  padding: 0 4vw;
}

.navbar-brand { 
  display: inline-block;
  margin: 0;
  padding: 0;
}

.panel {
  padding-top: 16px;
  padding-bottom: 16px;
}

.panel-with-image {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: auto;
}

  .panel-with-image form {
    margin-top: .4em;
  }

  .panel-with-image>.panel-content {
    margin: 75px 0;
    padding: 16px 0;
    width: 100%;
  }

.row>.card-group {
  flex-flow: row;
  overflow:scroll;
}

.tooltip-error>.tooltip-inner {
  border: 1px solid;
}

.tooltip-error.up>.tooltip-inner, .tooltip-error.up>.arrow{
  margin-bottom: 16px;
}

.tooltip-error p, .tooltip-error li, .tooltip-error ul {
  margin: 0;
}