body {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2em; 
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4, h5 {
  font-size: 1em;
}

small {
  font-size: 90%;
}

#contact-us .panel-with-image, #lost-password .panel-with-image, #not-found .panel-with-image {
  text-align: center;
}

#home .panel-with-image, #login .panel-with-image, #recipe .panel-with-image p, #about-us, #contact-us .panel {
  text-align: justify;
}

#recipes h2 {
  font-size: 1rem;
  font-weight: 700;
}

.card, .card p, .card .h5 {
  font-size: .95rem;
}

.form-text, .tooltip-error p, .tooltip-error li, .tooltip-error ul {
  text-align: left;
}

.navbar-brand { 
  font-size: 1.78em;
  font-weight: 500;
}

.step-index {
  font-weight: 700;
}
