.app-container {
  text-align: justify;
  text-justify: inter-word;
  background-color: black;
}

.with-background-image {
  background: url('./images/LeBliblou.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  overflow: auto;
}

.dark-panel {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 0 98px;
  padding: 20px 0px;
}

.bottom-black-panel {
  background-color: black;
  padding: 24px 0 64px 0;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
}

.centered-content {
  text-align: center;
}

.justified-content {
  text-align: justify;
}

.centered-image {
  margin: 0 auto 8px;
  display: block;
}

.display-block {
  display: block;
}

.position-relative {
  position: relative;
}

.line-separator {
  height:1px;
  background:#717171;  
  border-bottom:1px solid #313030;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-top-64 {
  margin-top: 64px;
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

.form-margin-top-16 form {
  margin-top: 16px;
}

.form-margin-bottom-16 form {
  margin-bottom: 16px;
}

.pink {
  color: #D29FA8;
}

.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav.nav-tabs a { 
  width: 25%;
  height: 60px;
}
