body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: black;
  overflow: auto;
  position: relative;
  padding-bottom: 120.22px;
  min-height: 100vh;
}

header .brand { 
  text-decoration: none; 
  color: black;
}

header .bg-black {
  background-color: black;
}

header a.brand:hover {
  text-decoration: none;
}

header .brand>h1:first-child {
  margin: 0;
  font-size: 1.85em;
  font-weight: 500;
  color: black;
  text-shadow:
    1px  1px 1px pink,
    1px -1px 1px pink,
   -1px  1px 1px pink,
   -1px -1px 1px pink;
}

main {
  padding-top: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: gainsboro;
  background-color: #1a1a1a;
  padding: 16px 0 30px;
}

footer .links {
  float: left;
}

footer .social-networks {
  float: right;
}

footer a {
  color: gainsboro;
}

footer .links a {
  font-size: 0.90em;
  padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2em; 
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  color: #D29FA8;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.btn-link {
  color:white;
}

.btn-link:hover {
  color:white;
}

.with-background-image {
  background: url('./images/LeBliblou.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  overflow: auto;
}

.with-background-image>div:first-child {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 75px auto;
  padding: 20px 0px;
}

.with-background-image form {
  margin: 16px 0;
}

.form-text {
  text-align: left;
}

.input-group .left-button.is-invalid {
  border-left-color: #dc3545;
  border-top-color: #dc3545;
  border-bottom-color: #dc3545;
}

.input-group .middle-button.is-invalid {
  border-top-color: #dc3545;
  border-bottom-color: #dc3545;
}

.btn:focus {
  box-shadow: none;
}

.pointer-element {
  cursor: pointer;
}

.tooltip-error > .tooltip-inner {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #dc3545;
}

.bs-tooltip-left .arrow::before {
  border-left-color: #dc3545;
}

.tooltip-error .message, .tooltip-error li, .tooltip-error ul {
  margin: 0;
  text-align: left;
}

.tooltip-error.up>.tooltip-inner, .tooltip-error.up>.arrow{
  margin-bottom: 16px;
}

.about-picture {
  float: left;
  width: 100px; 
  margin: 16px;
  border: 2px solid gray;
}

.line-separator {
  height:1px;
  background:#717171;  
  border-bottom:1px solid #313030;
  margin-bottom: 8px;
}

.panel {
  padding: 24px 0;
}

.contact-us, .lost-password, .not-found {
  text-align: center;
}

.lost-password img, .not-found img {
  height: 225px;
  margin: 0 auto 8px;
  display: block;
}

.not-found .btn-link {
  padding: 0 12px 0;
}

.recipe-editor form {
  margin-bottom: 16px;
}

.step-index {
  color: #D29FA8;
}
