.add-recipe-card .card-title {
  font-size: 1em;
}

.add-recipe-card .card-body {
  padding: 5px;
}

.add-recipe-card.card {
  cursor: pointer;
}

.add-recipe-card.card.bg-dark {
  border: none;
  border-radius: 0%;
}

.add-recipe-card.bg-dark .card-img {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0%;
}

.add-recipe-card.bg-dark .card-body {
  background-color: black;
}