.recipe-card .card-title {
  font-size: 1em;
}

.recipe-card .card-body {
  padding: 5px;
}

.recipe-card.card {
  cursor: pointer;
}

.recipe-card.card.bg-dark {
  border: none;
  border-radius: 0%;
}

.recipe-card .card-img {
  object-fit: cover;
}

.recipe-card .default-image {
  object-fit: contain;
}

.recipe-card.bg-dark .card-img {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0%;
}

.recipe-card.bg-dark .card-body {
  background-color: black;
}

.recipe-card.bg-dark .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.recipe-card table {
  width: 100%;
}